<template>
  <header :class="$style.header">
    <div
      :class="$style.inner" 
      class="container grid-xl">
      <router-link
        :to="{ name: 'challenges' }"
        :class="$style.link"
        :exact-active-class="$style.active">
        Challenges
      </router-link>

      <div :class="$style.spacer"/>

      <router-link
        :to="{ name: 'profile' }"
        :class="$style.link"
        :exact-active-class="$style.active">
        Profile
        <img
          :class="$style.icon"
          src="/images/svg/icons/profile.svg"
          alt="Profile">
      </router-link>
    </div>
  </header>
</template>
<script>
export default {
  name: 'AppHeader',
};
</script>


<style lang="scss" module>
@import '@/styles/utils.scss';

.logo {
  padding-right: 35px;
}

.auth {
  height: 100%;
  margin-left: auto;
}

.header {
  margin-bottom: 40px;
  background-color: $primary;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding: 0 33px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0.8;

  &:hover {
    &::before,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: $tertiary;
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }

  &:active,
  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
    box-shadow: none;
  }
}

.spacer {
  flex: 1;
}

.profile {
  display: flex;
  height: 100%;
}

.icon {
  width: 30px;
  margin-left: 10px;
}

.active {
  opacity: 1;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: $tertiary;
  }

  &::after {
    top: 0;
  }

  &::before {
    bottom: 0;
  }
}
</style>
