<template>
  <div 
    class="container grid-xl">
    <div 
      class="columns">
      <div class="column col-12">
        <h2>Challenges</h2>
      </div>
      <div class="column col-6 col-mx-auto">
        <div :class="$style.challenges">
          <router-link
            v-for="challenge in challenges"
            :key="challenge.id"
            :to="'/challenge/' + challenge.slug"
            :class="$style.challenge">

            <div :class="$style.icon">
              <img
                :src="'/images/svg/challenges/' + challenge.icon + '.svg'"
                alt="">
            </div>

            {{ challenge.name }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { challenges } from '@/data';

export default {
  name: 'Challenges',
  data() {
    return {
      challenges,
    };
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';

.challenges {
  display: flex;
  flex-direction: column;
}

.challenge {
  display: flex;
  align-items: center;
}

.icon {
  $gap: -5px;

  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 5px 20px 5px 0;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;

  @include media('<sm') {
    width: 140px;
    height: 140px;
  }

  &:active,
  &:hover,
  &:focus {
    color: #2c3e50;
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.0975);
  }

  > svg {
    width: calc(100% + #{$gap * -2}) !important;
    display: block;
    position: absolute;
    left: $gap;
    right: $gap;
    top: $gap;
    bottom: $gap;
  }
}

.link {
}
</style>
