<template>
  <div 
    class="container grid-xl">
    <div 
      v-if="challengeDetails"
      class="columns">
      <div class="column col-4 col-xl-12">
        <div :class="$style.mainProgress">
          <MainProgress
            :progress="numericProgress"
            :icon="challengeDetails.icon"
          />
        </div>
      </div>
      <div class="column col-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-mx-auto">
        <div :class="$style.details">
          <h2>
            {{ challengeDetails.name }}
          </h2>

          <div :class="$style.prosCons">
            {{ challengeDetails.prosCons }}
          </div>

          <div :class="$style.checklist">
            <div 
              v-for="(item, index) in challengeDetails.checklist"
              :key="index"
              class="form-group">
              <label class="form-checkbox form-inline">
                <input 
                  :checked="true" 
                  type="checkbox"
                  onclick="return false;">
                <i class="form-icon"/>
                {{ item }}
              </label>
            </div>
          </div>

          <WeekProgress
            :class="$style.progress"
            :weekdays="weekdays"
            :progress="progress"
            :icon="challengeDetails.icon"
            :disabled-reason="disabledReason"
            @changeProgress="changeProgress"
            @errorByReason="recountTime"
            @checkIsFinalDay="checkIsFinalDay"
          />

          <StartChallenge
            :disabled="isChallengeNotStarted"
            @startChallenge="startChallenge"
            @restartChallenge="restartChallenge" />
        </div>
      </div>
    </div>

    <div
      v-else
      class="columns">
      <div class="column col-12">
        <h2>There is no challenge!</h2>
      </div>
    </div>

    <ChallengeCongratsModal
      :progress="progress"
      :show-congrats-modal="showCongratsModal" 
      @hideCongratsModal="showCongratsModal = false" />
  </div>
</template>

<script>
import moment from 'moment';
import 'moment-duration-format';
import { mapActions, mapGetters } from 'vuex';
import WeekProgress from './WeekProgress.vue';
import config from '@/config/';
import { emptyChallenge } from '@/enums/';
import { recountWeekdays } from '@/utils/';
import { challenges } from '@/data';
import { GET_CHALLENGE } from '@/store/getters';
import { FETCH_CHALLENGE, UPDATE_CHALLENGE } from '@/store/actions';
import StartChallenge from './StartChallenge.vue';
import MainProgress from './MainProgress.vue';
import ChallengeCongratsModal from './ChallengeCongratsModal.vue';

const today = moment()
  .format('dddd')
  .toLowerCase();

export default {
  name: 'Challenge',
  components: {
    ChallengeCongratsModal,
    MainProgress,
    StartChallenge,
    WeekProgress,
  },
  data() {
    return {
      quotes: [
        {
          text:
            'If you are going to achieve excellence in big things, you develop the habit in little matters. Excellence is not an exception, it is a prevailing attitude.',
          author: 'Colin Powell',
        },
      ],
      weekdays: recountWeekdays(today),
      bar: null,
      showCongratsModal: true,
      startDay: null,
      timestamp: moment().unix(),
    };
  },
  computed: {
    ...mapGetters({
      userChallengeDetails: GET_CHALLENGE,
    }),
    challengeDetails() {
      return (
        challenges.filter(e => e.slug === this.$route.params.id)[0] || null
      );
    },
    challengeID() {
      return this.challengeDetails ? this.challengeDetails.id : 0;
    },
    userChallenge() {
      const userChallenge = this.userChallengeDetails(this.challengeID);

      if (userChallenge !== undefined) {
        return this.userChallengeDetails(this.challengeID);
      }

      return {
        ...emptyChallenge,
      };
    },
    progress() {
      return this.userChallenge.progress || { ...emptyChallenge.progress };
    },
    anyProgress() {
      let anyProgress = false;

      Object.keys(this.progress).forEach(key => {
        if (this.progress[key] !== null) {
          anyProgress = true;
        }
      });
      return anyProgress;
    },
    fullProgress() {
      let fullProgress = true;

      Object.keys(this.progress).forEach(key => {
        if (this.progress[key] === null) {
          fullProgress = false;
        }
      });
      return fullProgress;
    },
    numericProgress() {
      let countOfCompleted = 0;

      Object.keys(this.progress).forEach(key => {
        if (this.progress[key] !== null) {
          countOfCompleted++;
        }
      });

      return countOfCompleted / Object.keys(this.progress).length;
    },
    isChallengeNotStarted() {
      return !this.startDay;
    },
    tooEarly() {
      return (
        this.userChallenge.updatedAt + config.checkUpDelay >= this.timestamp
      );
    },
    disabledReason() {
      if (this.isChallengeNotStarted) {
        return 'Start the challenge first!';
      }
      if (this.tooEarly && this.anyProgress) {
        const seconds =
          this.userChallenge.updatedAt + config.checkUpDelay - this.timestamp;

        return `Too early! Wait at least ${moment
          .duration(seconds, 'seconds')
          .format('HH [hours] mm [minutes] ss [seconds]')}`;
      }
      return null;
    },
  },
  mounted() {
    this[FETCH_CHALLENGE](this.challengeID)
      .then(() => {
        if (this.userChallenge.startDay) {
          this.startDay = this.userChallenge.startDay;
          this.weekdays = recountWeekdays(this.startDay);
        }
      })
      .catch(() => {});
  },
  methods: {
    ...mapActions({
      FETCH_CHALLENGE,
      UPDATE_CHALLENGE,
    }),
    changeUserChallenge(challenge) {
      this[UPDATE_CHALLENGE]({
        challengeID: this.challengeID,
        challenge,
      });
    },
    changeProgress(progress) {
      const challenge = {
        ...this.userChallenge,
        id: this.challengeID,
        progress,
        updatedAt: this.timestamp,
      };

      this.changeUserChallenge(challenge);
    },
    restartChallenge() {
      // eslint-disable-next-line no-alert
      const warning = confirm(
        'Do you really want to retake the challenge? \nIt causes incrementation on the Retake counter!\n\nSuggestion: Pass through the challenge to the end and start it again then. It will not increment the Retake counter.',
      );

      if (warning) {
        this.startDay = today;

        const challenge = {
          ...emptyChallenge,
          id: this.challengeID,
          startDay: today,
          updatedAt: this.timestamp,
        };

        challenge.counters.attempts = this.userChallenge.counters.attempts + 1;
        challenge.counters.retakes = this.userChallenge.counters.retakes + 1;

        this.changeUserChallenge(challenge);
      }
    },
    startChallenge() {
      this.startDay = today;

      const challenge = {
        ...this.userChallenge,
        id: this.challengeID,
        startDay: today,
        updatedAt: this.timestamp,
      };

      challenge.counters.attempts = this.userChallenge.counters.attempts + 1;

      this.changeUserChallenge(challenge);
    },
    recountTime() {
      this.timestamp = moment().unix();
    },
    checkIsFinalDay() {
      if (this.fullProgress) {
        setTimeout(() => {
          this.showCongratsModal = true;
        }, 600);
      }
    },
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';

.pointer {
  position: absolute;
  width: 80px;
  right: -15vh;
  bottom: -5vh;
}
.inner {
  width: 100%;
  height: 100%;
}
.prosCons {
  white-space: pre-line;
}

.checklist {
  margin-bottom: 20px;
}

.mainProgress {
  display: flex;
  justify-content: center;
}

.details {
  text-align: left;
  margin-left: 40px;

  @include media('<xl') {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }
}

.progress {
  margin-bottom: 40px;
  justify-content: left;

  @include media('<xl') {
    justify-content: center;
  }
}
</style>
