<template>
  <Modal
    v-if="showCongratsModal"
  >
    <h2 slot="header">Congratulations!</h2>
    <div slot="body">

      <img
        src="/images/svg/icons/clapping.svg"
        alt="Reward">

      <h2 class="text-center">Rewards:</h2>

      <div :class="$style.win">
        <img
          v-if="faults === 0 || faults === 1 || faults === 2"
          :src="'/images/svg/rewards/reward-place-' + (1 + faults) + '.svg'"
          alt="">
        <img
          v-else
          src="/images/teddy-bear.svg"
          alt="">
      </div>
    </div>

    <div
      slot="footer"
      class="text-center">
      <button
        class="btn btn-success btn-lg"
        @click="$emit('hideCongratsModal')">OK</button>
    </div>
  </Modal>
</template>
<script>
import Modal from '@/components/base/Modal.vue';

export default {
  name: 'ChallengeCongratsModal',
  components: {
    Modal,
  },
  props: {
    progress: Object,
    showCongratsModal: Boolean,
    rewardIcon: String,
  },
  data() {
    return {
      faults: 0,
    };
  },
  mounted() {
    this.recountFaults();
  },
  methods: {
    recountFaults() {
      // TODO: Remove Code duplications
      this.faults = 0;

      Object.keys(this.progress).forEach(key => {
        if (this.progress[key] === 'fail') {
          this.faults++;
        }
      });
    },
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';
.win {
  padding: 15px;
  width: 100%;
  height: 100%;

  @include media('<sm') {
    padding: 30px;
  }
}
</style>
