<template>
  <div>
    <a 
      :class="[$style.container, progressUniqueStyle]"
      @click="doProgress">

      <div 
        v-if="weekday"
        :class="$style.weekday">
        <img
          :class="$style.icon"
          :src="'/images/svg/challenges/' + icon + '.svg'"
          alt="">
        <div :class="$style.name">
          <span>{{ weekday }}</span>
        </div>
      </div>

      <!--<div -->
      <!--v-if="cheatday === true && weekday === 'Sunday'"-->
      <!--:class="$style.cheatday">-->
      <!--Cheatday!-->
      <!--</div>-->

      <div 
        v-if="win"
        :class="$style.win">
        <img 
          v-if="faults === 0 || faults === 1 || faults === 2"
          :src="'/images/svg/rewards/reward-place-' + (1 + faults) + '.svg'"
          alt="">
        <img
          v-else
          src="/images/teddy-bear.svg"
          alt="">
      </div>

    </a>

    <Modal
      v-if="showModal"
      @close="showModal = false"
    >
      <h3 slot="header">Don't trick yourself!</h3>
      <div 
        slot="body" 
        :class="$style.modalButtons">
        <button
          :class="$style.modalButton"
          @click="sendProgress('done')"
        >
          <img 
            src="/images/svg/icons/accepted.svg"
            alt="">
        </button>
        <button
          :class="$style.modalButton"
          @click="sendProgress('fail')"
        >
          <img 
            src="/images/svg/icons/raise-concern.svg"
            alt="">
        </button>
      </div>
    </Modal>
  </div>
</template>

<script>
import ProgressBar from 'progressbar.js';
import Modal from '@/components/base/Modal.vue';

export default {
  name: 'DailyProgress',
  components: {
    Modal,
  },
  props: {
    weekday: String,
    progress: String,
    cheatday: Boolean,
    index: Number,
    win: Boolean,
    access: Boolean,
    icon: String,
    disabledReason: {
      type: String,
      default: null,
    },
    faults: Number,
  },
  data() {
    return {
      bar: null,
      showModal: false,
      dayProgress: null,
    };
  },
  computed: {
    progressUniqueStyle() {
      return `${this.$style.container}_${this.index}`;
    },
    currentProgress: {
      get() {
        return this.dayProgress || this.progress;
      },
      set(value) {
        this.dayProgress = value;
      },
    },
    color() {
      if (this.currentProgress === 'done') {
        return '#50da6a';
      }
      if (this.currentProgress === 'fail') {
        return '#da2d7a';
      }
      return false;
    },
  },
  watch: {
    progress() {
      this.bar.animate(0, () => {
        if (this.progress !== null) {
          this.bar.destroy();
          this.createBar();
          this.bar.animate(1);
        }
      });
    },
  },
  mounted() {
    if (this.win) return;

    this.createBar();

    this.bar.animate(1, () => {
      if (this.currentProgress === null) {
        try {
          this.bar.animate(0); // TODO: something goes wrong
        } catch (e) {
          // eslint-disable-next-line no-console
          console.log(e);
        }
      }
    });
  },
  methods: {
    createBar() {
      this.bar = new ProgressBar.Circle(`.${this.progressUniqueStyle}`, {
        color: '#FFEA82',
        trailColor: 'rgba(0, 0, 0, 0.0975)',
        trailWidth: 1,
        duration: 1200,
        easing: 'easeInOut',
        strokeWidth: 2,
        from: { color: '#f89847', a: 1 },
        to: { color: this.color || '#5755d9', a: 2 },
        // Set default step function for all animate calls
        step(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        },
      });
    },

    doProgress() {
      if (this.win) return;

      if (this.disabledReason) {
        // eslint-disable-next-line no-alert
        alert(this.disabledReason);
        this.$emit('errorByReason');
        return;
      }

      if (this.progress !== null) {
        // eslint-disable-next-line no-alert
        alert('Go ahead!');
        return;
      }
      if (!this.access) {
        // eslint-disable-next-line no-alert
        alert('Fill the previous day!');
        return;
      }

      this.showModal = true;
    },

    sendProgress(result) {
      this.showModal = false;
      this.$emit('progress', {
        weekday: this.weekday,
        result,
      });
      this.currentProgress = result;
      this.$emit('checkIsFinalDay');
    },
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';

$gap: -5px;

.container {
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 5px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;

  @include media('<sm') {
    width: 140px;
    height: 140px;
  }

  &:active,
  &:hover,
  &:focus {
    color: #2c3e50;
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.0975);
  }

  > svg {
    width: calc(100% + #{$gap * -2}) !important;
    display: block;
    position: absolute;
    left: $gap;
    right: $gap;
    top: $gap;
    bottom: $gap;
  }
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalButton {
  background: transparent;
  border: 0;
  width: 50%;
  cursor: pointer;
}

.weekday {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 3px white, 0 0 3px white,
      0 0 2px white, 0 0 2px white;
  }
}

.icon {
  width: 100%;
  height: 100%;
  padding: 15px;
  opacity: 0.5;
}

.cheatday {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
}

.win {
  padding: 15px;
  width: 100%;
  height: 100%;

  @include media('<sm') {
    padding: 30px;
  }
}
</style>
