<template>
  <div class="container grid-xl">
    <div class="columns">
      <div class="column col-12">

        Hello!

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Intro',
};
</script>

<style lang="scss" module>
</style>
