<template>
  <div
    id="progress"
    :class="$style.rounded">
    <div :class="$style.inner">
      <img
        :src="'/images/svg/challenges/' + icon + '.svg'"
        alt="">
    </div>
  </div>
</template>
<script>
import ProgressBar from 'progressbar.js';

export default {
  name: 'MainProgress',
  props: {
    progress: {
      type: Number,
      default: 0,
    },
    icon: String,
  },
  watch: {
    progress() {
      if (this.bar) {
        this.bar.animate(this.progress);
      }
    },
  },
  mounted() {
    this.createBar();

    this.bar.animate(1, () => {
      this.bar.animate(this.progress);
    });
  },
  methods: {
    createBar() {
      this.bar = new ProgressBar.Circle('#progress', {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 0.1,
        duration: 1200,
        easing: 'easeInOut',
        strokeWidth: 2,
        from: { color: '#f89847', a: 1 },
        to: { color: '#da2d7a', a: 2 },
        // Set default step function for all animate calls
        step(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        },
      });
    },
  },
};
</script>
<style lang="scss" module>
@import '@/styles/utils.scss';

$gap: -10px;

.rounded {
  border-radius: 50%;
  padding: 70px;
  width: 380px;
  height: 380px;
  position: relative;
  background-color: #f7f7f7;
  cursor: pointer;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.0975);

  @include media('<sm') {
    width: 260px;
    height: 260px;
    padding: 40px;
  }

  &:active {
    box-shadow: inset 0 0 9px 3px rgba(0, 0, 0, 0.0975);
  }

  &::before {
    content: '';
    position: absolute;
    left: $gap;
    right: $gap;
    top: $gap;
    bottom: $gap;
    border-radius: 50%;

    border: 2px solid rgba(0, 0, 0, 0.0975);
  }

  > svg {
    width: calc(100% + #{$gap * -2}) !important;
    display: block;
    position: absolute;
    left: $gap;
    right: $gap;
    top: $gap;
    bottom: $gap;
  }
}
</style>
