<template>
  <div 
    class="container grid-xl">
    <div 
      class="columns">
      <div class="column col-4 col-xl-12">
        <h2>Profile</h2>

        <div v-if="myID && !editState">
          <div
            class="form-group">
            <label class="form-label">My ID:</label>
            <input
              :value="myID"
              type="text"
              class="form-input input-lg"
              readonly>
          </div>
          <button
            class="btn btn-link btn-sm"
            @click="editState = true"
          >Re-Detect</button>
        </div>

        <div v-else>
          <div class="form-group">
            <label 
              class="form-label" 
              for="detect-input">If you have a progress on another device just put your ID here:</label>
            <div class="input-group">
              <input
                id="detect-input"
                v-model="detectID"
                type="text"
                class="form-input input-lg">
              <button
                class="btn btn-success btn-lg input-group-btn"
                @click="detectMe">Detect me</button>
            </div>

          </div>

          <button
            class="btn btn-primary btn-sm"
            @click="editState = false">Cancel</button>
        </div>

      </div>
      <div class="column col-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-mx-auto">
        Challenges I've accepted:
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      editState: false,
      detectID: null,
      myID: localStorage.getItem('myID'), // Vsze2BERYQxAVrLeDcf6
    };
  },
  methods: {
    detectMe() {
      if (!this.detectID) {
        // eslint-disable-next-line no-alert
        alert('Put your ID in the field.');
      }
      this.myID = this.detectID;
      localStorage.setItem('myID', this.detectID);
      this.editState = false;
    },
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';
</style>
