<template>
  <div>
    <button
      v-if="disabled"
      class="btn btn-success"
      @click="showStartModal = true">
      Accept Challenge
    </button>
    <button
      v-else
      class="btn"
      @click="showStartModal = true">
      Retake Challenge
    </button>

    <Modal
      v-if="showStartModal"
      @close="showStartModal = false"
    >
      <h3 slot="header">Accept Challenge</h3>
      <div
        slot="body"
        :class="$style.body">

        <h2 class="text-center">Rewards:</h2>

        <div :class="$style.rewards">
          <div
            v-for="(condition, index) in conditions"
            :class="$style.reward"
            :key="index"
            :style="{ marginTop: (index * 30) + 'px' }"
          >

            <img
              :src="'/images/svg/rewards/' + condition.icon + '.svg'"
              alt="Reward">

            <p v-html="condition.text"/>
          </div>
        </div>

        <div class="text-center">
          <button
            v-if="disabled"
            class="btn btn-success btn-lg"
            @click="$emit('startChallenge'); showStartModal = false">Accept Challenge!</button>
          <button
            v-else
            class="btn btn-primary btn-lg"
            @click="$emit('restartChallenge'); showStartModal = false">Retake Challenge!</button>

        </div>
      </div>
    </Modal>
  </div>
</template>
<script>
import Modal from '@/components/base/Modal.vue';

export default {
  name: 'StartChallenge',
  components: { Modal },
  props: {
    disabled: Boolean,
  },
  data() {
    return {
      showStartModal: false,
      conditions: [
        {
          icon: 'reward-place-1',
          text: "You <b>can't</b> slack!",
        },
        {
          icon: 'reward-place-2',
          text: 'You can slack <b>one</b> day.',
        },
        {
          icon: 'reward-place-3',
          text: 'You can slack <b>two</b> days.',
        },
        {
          icon: 'teddy-bear',
          text: 'If you are <b>lazy ass!</b> :D',
        },
      ],
    };
  },
};
</script>
<style lang="scss" module>
.rewards {
  display: flex;
}

.reward {
  padding: 10px;
  text-align: center;
  width: 25%;
}
.reward img {
  width: 100%;
}

.conditions {
  text-align: left;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
</style>
