<template>
  <div :class="$style.root">
    <ul :class="$style.list">
      <li 
        v-for="(weekday, index) in weekdays"
        :class="$style.item"
        :key="weekday"
      >

        <div 
          v-if="index === 4" 
          :class="$style.pointer"
          class="hide-md"
        />

        <DailyProgress
          :weekday="weekday"
          :index="index"
          :cheatday="true"
          :progress="progress[weekday]"
          :access="checkAccess(weekday)"
          :disabled-reason="disabledReason"
          :icon="icon"
          @progress="changeProgress"
          @errorByReason="$emit('errorByReason')"
          @checkIsFinalDay="$emit('checkIsFinalDay')"
        />

        <div :class="$style.pointer"/>
      </li>
      <li :class="$style.item">
        <DailyProgress
          :win="true"
          :faults="faults"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import DailyProgress from '@/components/DailyProgress.vue';
import { UPDATE_CHALLENGE } from '@/store/actions';
import { mapActions } from 'vuex';

export default {
  name: 'WeekProgress',
  components: {
    DailyProgress,
  },
  props: {
    disabledReason: String,
    weekdays: Array,
    progress: Object,
    icon: String,
  },
  data() {
    return {
      faults: 0,
    };
  },
  watch: {
    progress() {
      this.recountFaults();
    },
  },
  mounted() {
    this.recountFaults();
  },
  methods: {
    ...mapActions({
      UPDATE_CHALLENGE,
    }),
    changeProgress(status) {
      this.progress[status.weekday] = status.result;
      this.$emit('changeProgress', this.progress);
      this.recountFaults();
      this.$forceUpdate(); // TODO: checkAccess() works incorrect when we start with Sunday (for ex.)
    },
    checkAccess(weekday) {
      const prevDayIndex = this.weekdays.indexOf(weekday) - 1;
      const prevDay = this.weekdays[prevDayIndex];
      if (prevDayIndex === -1) {
        return true;
      }
      return prevDayIndex >= 0 && this.progress[prevDay] !== null;
    },
    recountFaults() {
      this.faults = 0;

      Object.keys(this.progress).forEach(key => {
        if (this.progress[key] === 'fail') {
          this.faults++;
        }
      });
    },
  },
};
</script>

<style lang="scss" module>
@import '@/styles/utils.scss';

.root {
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  display: flex;
  max-width: 520px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;

  @include media('<sm') {
    flex-direction: column;
    width: 100%;
  }
}

.pointer {
  width: 10px;
  height: 20px;
  position: relative;
  background: #c0c0c0;
  margin: 0 15px 0 5px;

  @include media('<sm') {
    transform: rotate(90deg);
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.pointer:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.pointer:before {
  content: '';
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #c0c0c0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
</style>
