<template>
  <div>
    <AppHeader />
    <router-view />
  </div>
</template>

<script>
import AppHeader from '@/components/base/AppHeader.vue';

export default {
  name: 'App',
  components: { AppHeader },
};
</script>

<style lang="scss">
@import '~normalize.css';
@import '~spectre.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
